
/* GENERALES */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* BARRA DE NAVEGACION */
.navbar-nav .dropdown-menu{
    border: none;
    text-align: center;
    position: static;
    float: none;
}

/* CARROUSEL */

.carousel-inner img {
    width: 100vh;
    max-height: 100vh;
}

.carousel-inner{
 height: auto;
}

/* MAIN */
.tienda{
    margin-top: 5%;
    text-align: center;
}

.cotizacion{
    text-align: center;
    border: solid;
}

.cotizacion-detalle button{
    position: relative;
    margin-left: auto;
    display: block;
    margin-right: auto
}

.nuevo-servicio{
    text-align: center;
    margin-top: 2%;
    border: solid;
    margin-bottom: 2%;
}

.nuevo-servicio h5{
    padding-bottom: 3%;
}

.nuestros-servicios{
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
}

.img-fluid{
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*Footer*/

.footer-main{
    padding: 80px 0;
    text-align: center;
    color: wheat;
}

.footer a {
    color: wheat;
}
.footer a:hover {
    color: wheat;
}
.footer .list-inline .list-inline-item{
    padding: 10px 15px;
}

.footer-menu{
    display: block !important;
    padding: 20px 0 !important;
    font-size: 20px !important
}

/*Carrito de compras*/
.titulo-carro{
    margin-top: 2%;
    text-align: center;
}

.carrito-botones{
    margin-bottom: 5%;
}

@media(min-width:767px){

    ul.list-inline{
    justify-content: center;
    display: flex;
    }

}
