<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<title>LOGIN</title>

<body class="fondo">

    <%- include('./partials/header.ejs')%>

    <!--INICIAR SESION-->
    <div class="container-fluid">

        <div>
            <h1>QUIENES SOMOS</h1>

            <p>LFG nació como parte de proyecto integrador en medio de la pandemia, buscamos que desde tu celu o compu puedas acceder a la mayor cantidad de oferta y variedad de equipos celulares del mercado cordobés. Con el plus de poder presupuestar el servicio técnico desde la comodidad de tu casa!
            </p>
                      
        </div>


    </div>

    <!--footer-->

    <%- include('./partials/footer.ejs')%>


    </div>
    <!--ScripDeBoostrapt-->
    <%- include('./partials/scripts.ejs')%>

    <script src="../js/validacionLogin.js"></script>
    <script src="/js/mostrarCarrito.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="/js/compra.js"></script>
</body>

</html>