<!DOCTYPE html>
<html lang="en">

<head>
    <!--font awesome-->
    
    <link rel="stylesheet" href="../stylesheets/style.css">

    <link rel="stylesheet" href="./fontAwesome/css/all.css">

    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARRITO</title>
</head>

<body>

    <!--barra de navegacion-->
    <%- include('./partials/header.ejs')%>

    <!--PRINCIPAL-->

    <div class="container">
        <main class="main">
            
                <div class="titulo-carro">
                    <h5>CARRITO DE COMPRAS</h5>
                </div>

                <hr>

                <h6>Resumen de Compra</h6>
                <hr>
                <div class="row">
                    <div class="d-none d-sm-inline col-md-4">
                        <b>
                            <p>Imagen</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-3">
                        <b>
                            <p>Descripcion</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-2">
                        <b>
                            <p>Cantidad</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-2">
                        <b>
                            <p>Precio</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-1">
                        <b>
                            <p>Quitar</p>
                        </b>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">

                    <div class="col-12 col-md-4">

                        <figure class="figure">
                            <img src="/imagenes/celular.jpeg" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption">Algn texto</figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-md-4 ">
                        <p>Celular nokia 1100</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-2">
                        <p>$ 10.000</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <span><ion-icon name="trash-outline"></ion-icon></span>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="d-none d-sm-inline col-md-4">
                        <b>
                            <p>Imagen</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-3">
                        <b>
                            <p>Descripcion</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-2">
                        <b>
                            <p>Cantidad</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-2">
                        <b>
                            <p>Precio</p>
                        </b>
                    </div>
                    <div class="d-none d-sm-inline col-md-1">
                        <b>
                            <p>Quitar</p>
                        </b>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">

                    <div class="col-12 col-md-4">

                        <figure class="figure">
                            <img src="/imagenes/celular.jpeg" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption">Algn texto</figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-md-4 ">
                        <p>Celular nokio 1100</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-2">
                        <p>$$10</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <span><ion-icon name="trash-outline"></ion-icon></span>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-6 col-md-6">
                        <p style="text-align: end;">TOTAL</p>
                    </div>
                    <div class="col-6 col-md-6">
                        <b>
                            <p style="text-align: end;">$$$$$$$</p>
                        </b>
                    </div>

                </div>
                <div class="carrito-botones">
                    <button type="button" class="btn btn-secondary">Volver</button>
                    <button type="button" class="btn btn-primary btn-lg float-right">Siguiente</button>
                </div>


            


        </main>
    </div>

    
    <%- include('./partials/footer.ejs')%>


    <!--ScripDeBoostrapt-->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>