<html lang="en">

<head>
    
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="./fontAwesome/css/all.css">

    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Producto</title>
</head>

<body>

    <!--barra de navegacion-->
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">

            <a class="navbar-brand" href="#">LOGO</a> </a>

            <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto text-center">
                    <!--home-->
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!--Catalogo-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tienda
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Celulares</a>
                            <a class="dropdown-item" href="#">Accesorios</a>
                            <a class="dropdown-item" href="#">Ofertas</a>
                        </div>
                    </li>
                    <!--Soporte-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Soporte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Cotiza online</a>
                            <a class="dropdown-item" href="#">Seguimiento</a>
                        </div>
                    </li>
                    <!--Nosotros-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
                <!--Login-->

                <div class="d-flex flex-row justify-content-center">
                    <i class="p-2">
                        <ion-icon name="person-outline"></ion-icon>
                    </i>
                    <i class="p-2">
                        <ion-icon name="search-outline"></ion-icon>
                    </i>
                    <i class="p-2">
                        <ion-icon name="cart-outline"></ion-icon>
                    </i>
                </div>

            </div>
        </nav>
    </header>
    
    <!--PRINCIPAL-->
    <main class="main">
        <div class="container cuadroProducto">
            <div class="row">
                <!--imagen producto-->
                <div class="col-md-6 order-md-1 mb-4" >
                    <img src="/imagenes/xiaomi.jpg" class="imgProducto" alt="...">
                </div>
                <!--especificaciones-->
                <div class="col-md-6 order-md-2">
                    <h4 class="mb-2">Xiaomi Redmi Note7 - Negro</h4>
                    <h6 class="subtitulo mb-0">18 ctas de</h6>
                    <h3 class="precio mb-2">$1500</h3>
                    <h6 class="subtitulo mb-4">1 Pago de $23500</h6>
                    <!--Breve Desc Tecn-->
                <div class="row">
                    <div class="col-ms-12">
                        <p class="caja-descripcion">
                            Descripcion del producto en venta. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. 
                        </p>
                    </div> 
                </div>      
                
                <!--cantidad y Reseña-->
                <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cantidad">Cantidad</label>
                    <select class="custom-select d-block w-100" id="cantidad" >
                      <option value="">1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="reseña">Puntuación</label>
                
                <div class="d-flex flex-row justify-content-center">
                    <i class="p-2">
                        <ion-icon name="star"></ion-icon>
                    </i>
                    <i class="p-2">
                        <ion-icon name="star"></ion-icon>
                    </i>
                    <i class="p-2">
                        <ion-icon name="star-outline"></ion-icon>
                    </i>
                </div>
                </div>




                </div>
                <!--linea separacion-->
                <hr class="mb-4">
                <!--Boton-->
                <button class="btn-carga btn-sm btn-block" type="submit">Añadir al Carrito</button>
                </div><!--cierra el primer row, lleva la descripcion del producto-->
                
            </div>
                



        
        
        
         
        </div> <!--cierra container-->

    
     </main>  
    

     <footer class="footer-main bg-dark">
        <div class="container">
    
            <div class="row text-center d-flex justify-content-center pt-5">
                <div class="col-md-2">
                    <ul class="list-inline d-flex justify-content-center pt-3 footer-icono">
                        <li><a href=""><ion-icon name="logo-facebook" style="color: blanchedalmond;"></ion-icon></a></li>
                        <li><a href=""><ion-icon name="logo-instagram" style="color: blanchedalmond;"></ion-icon></a></li>
                        <li><a href=""><ion-icon name="logo-twitter" style="color: blanchedalmond;"></ion-icon></li>
                    </ul> 
                </div>
                
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                      <a href="#!" style="color: white;">Tienda</a>
                    </h6>
                </div>
    
                <div class="col-md-2 mb-1">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" style="color: white;">Soporte Tecnico</a>
                    </h6>
                </div>
    
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" style="color: white;">Nosotros</a>
                    </h6>
                </div>
    
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" style="color: white;">Ayuda</a>
                    </h6>
                </div>
    
            </div>
    
            
        </div>
    
    
    
    
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> ---- </a>
        </div>
    </footer>
    
    <!--ScripDeBoostrapt-->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>