<div class="container text-center">
    <br>
    <div class="row cotizacion-detalle">
        <div class="col-md-6 mb-4" style="margin-top:10%;">
            <h4>¿Problemas con tu celular o tablet?</h4>
            <p>Utilizá nuestro sistema de reparación, calcula tu presupuesto indicando el problema y
                dispositivo que tenés y reparalo ya mismo!!
            </p>
            <button type="button" class="btn btn-outline-primary btn-lg btn-block" rol="alert">Cotizar</button>
        </div>
        <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
            <figure>
                <img src="/images/home/Móvil-pantalla-rota.webp" alt="" style="width: 100%;">
            </figure>
        </div>
    </div>
</div>