<footer class="footer-main bg-dark">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-4 ">
            <div class="col-md-2">
                <h6 class="text-uppercase">
                  <a href="#!" style="color: white;">Tienda</a>
                </h6>
            </div>

            <div class="col-md-2 mb-1">
                <h6 class="text-uppercase">
                    <a href="#!" style="color: white;">Soporte Tecnico</a>
                </h6>
            </div>

            <div class="col-md-2">
                <h6 class="text-uppercase">
                    <a href="#!" style="color: white;">Nosotros</a>
                </h6>
            </div>

            <div class="col-md-2">
                <h6 class="text-uppercase">
                    <a href="#!" style="color: white;">Ayuda</a>
                </h6>
            </div>
            
                
            </div>
        

        
    </div>

  
    <div class="footer-copyright">
        
        <div class="row d-flex justify-content-center pt-3" style="background-color: #292f35">
            <div class="col-md-1"> </div>    
        <div class="col-md-3"> 
        <a style="text-decoration: none; color: white;" href="#">© 2020 Copyright: LFG </a>

        </div>  
        <div class="col-md-4"> </div> 
        <div class="col-md-3">
            <ul class="list-inline d-flex justify-content-center footer-icono">
                <li class="listaFooter pl-3"><a href=""><ion-icon name="logo-facebook" style="color: #eeeeee;"></ion-icon></a></li>
                <li class="listaFooter pl-3"><a href=""><ion-icon name="logo-instagram" style="color: #eeeeee;"></ion-icon></a></li>
                <li class="listaFooter pl-3"><a href=""><ion-icon name="logo-twitter" style="color: #eeeeee;"></ion-icon></li>
            </ul> 
        </div>

        
    </div>
    </div>
</footer>