<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="border-bottom: 1px solid gray;">
         <!--agregué borde-->

        <a class="navbar-brand" href="/">LOGO</a> </a>

        <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto text-center">
                <!--home-->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--Catalogo-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tienda
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/product/">Todos Los Productos</a>
                        <a class="dropdown-item disabled" href="/product/destacados">Destacados</a>
                        <a class="dropdown-item disabled" href="/product/ofertas">Ofertas</a>
                    </div>
                </li>
                <!--Soporte-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Soporte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Cotiza online</a>
                        <a class="dropdown-item" href="#">Seguimiento</a>
                    </div>
                </li>
                <!--Nosotros-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <!--Login
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/product/create">Crear Producto</a>
                        <a class="dropdown-item" href="/product/list">Listado de Productos</a>
                        <a class="dropdown-item" href="/user/list">Listado de Usuarios</a>
                    </div>
                    -->
                </li>
            </ul>
            <!--Login-->
            <% if (usuario != null) { %>
            <h6 style="color: blueviolet;font-size: small;" class=" mr-3"> HOLA!! <%= usuario.nombre %> </h6>
            <% } %>
            <div  class="d-flex flex-row justify-content-center" >
                
                <a href="">
                    <i class="fa fa-search fa-2x mr-3"></i>
                </a>
                <a href="/user" >
                   <i class="fa fa-user fa-2x mr-3"></i>
                </a>
                    <a href="/product/cart"><i class="fa fa-shopping-cart fa-2x mr-3 "></i>
                </a>
            </div>

        </div>
    </nav>
</header>