<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="border-bottom: 1px solid gray;">
         <!--agregué borde-->

        <a class="navbar-brand" href="#">LOGO</a> </a>

        <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto text-center">
                <!--home-->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--Catalogo-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tienda
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../product/">Celulares</a>
                        <a class="dropdown-item" href="#">Accesorios</a>
                        <a class="dropdown-item" href="../product/ofertas">Ofertas</a>
                    </div>
                </li>
                <!--Soporte-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Soporte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Cotiza online</a>
                        <a class="dropdown-item" href="#">Seguimiento</a>
                    </div>
                </li>
                <!--Nosotros-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
            <!--Login-->

            <div class="d-flex flex-row justify-content-center">
                <i class="p-2">
                    <a href="../user"><ion-icon name="person-outline"></ion-icon></a>
                    
                </i>
                <i class="p-2">
                    <ion-icon name="search-outline"></ion-icon>
                </i>
                <i class="p-2">
                    <a href="../product/cart"><ion-icon name="cart-outline"></ion-icon></a>
                    
                </i>
            </div>

        </div>
    </nav>
</header>